html {
    background: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff));
}

body {
    background-color: #eee;
    margin: 1em;
    padding: 1em;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 0 14px #123;
}

h1.title {
    color: #006c8a;
}

h2.title {
    color: #006c8a;
}

div.section h2.title {
    color: #00a4bb;
}

p {
    color: #00bbaf;
    text-indent: 2em;
}

a:link, a:visited {
    color: #7a8a39;
}

a:hover {
    color: palegreen;
}

body div.titlepage h1.title {
    text-align: center;
}

div.chapter {
    margin-top: 5em;
}

div.chapter h2.title {
    border-bottom: 1px solid grey;
}

div.section h2.title {
    border-bottom-width: 0;
}

div.toc p {
    text-indent: 0;
    color: #ccc;
}

div.toc {
    border: 1px dashed gray;
    padding: 0.5em;
    margin-left: 2em;
}

div.toc dl dd dl {
    margin-top: 0px;
}

div.navheader table th, div.navfooter table td {  
    color: #bfbbaf;  
}  

div.note {  
    color: #999;  
    border: 1px solid gray;  
}  

pre.programlisting { 
    background-color: #E0E0E0; 
    border-width: 1.5pt;
    border-style: solid;
    border-color: #575757;
    padding: 3pt;
}