@namespace url(http://www.xmlmind.com/xmleditor/schema/form-sampler);

doc {
    display: block;
}

para {
    display: block;
    margin: 1.33ex 0;
}

bold {
    display: inline;
    font-weight: bold;
}

doubleE,
doubleA,
floatE,
floatA,
longE,
longA,
intE,
intA,
shortE,
shortA,
byteE,
byteA,
double2,
double1,
float2,
float1,
long2,
long1,
int2,
int1,
short2,
short1,
byte2,
byte1,
day1,
day2,
monthDay1,
monthDay2,
month1,
month2,
yearMonth1,
yearMonth2,
year1,
year2,
dateTime2,
dateTime1,
time2,
time1,
date2,
date1,
cymklistb,
cymklista,
cymkb,
cymka,
cymklist2,
cymklist1,
cymk2,
cymk1,
string2,
string1,
uri2,
uri1,
integer2,
integer1,
rgb2,
rgb1,
hidden,
disabled,
yesno,
onoff,
dateTime30,
dateTime40,
time30,
time40,
date30,
date40,
dateTime31,
dateTime41,
time31,
time41,
date31,
date41,
dateTime32,
dateTime42,
dateTime33,
dateTime43 {
    display: inline-block;
    font-size: smaller;
    padding: 1px; /* Needed to display the red border of the selection */
}

doubleE,
floatE,
longE,
intE,
shortE,
byteE,
double2,
float2,
long2,
int2,
short2,
byte2,
day2,
monthDay2,
month2,
yearMonth2,
year2,
dateTime2,
time2,
date2,
cymklistb,
cymkb,
cymklist2,
cymk2,
string2,
uri2,
fileName,
integer2,
rgb2,
hidden,
yesno,
dateTime40,
time40,
date40,
dateTime41,
time41,
date41,
dateTime42,
dateTime43 {
    content: value-editor();
}

doubleA,
floatA,
longA,
intA,
shortA,
byteA,
double1,
float1,
long1,
int1,
short1,
byte1,
day1,
monthDay1,
month1,
yearMonth1,
year1,
dateTime1,
time1,
date1,
cymklista,
cymka,
cymklist1,
cymk1,
string1,
uri1,
integer1,
rgb1,
disabled,
onoff,
dateTime30,
time30,
date30,
dateTime31,
time31,
date31,
dateTime32,
dateTime33 {
    content: value-editor(attribute, value);
}
